.InterviewIntroPage {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
}

.InterviewOrganization {
  background-color: rgb(200, 200, 200);

  height: 100%;
}

.InterviewOrganization > h1 {
  margin: 0 0 10px 10px;
}

.InterviewOrganization > p {
  margin: 0 0 10px 10px;
}

.InterviewOrganization > select {
  width: 200px;
  margin: 0 10px 10px 10px;
}

.InterviewOrganization > button {
  margin: 0 0 0 10px;
}

.InterviewOrganization > .CategoryList {
  height: 100px;
  margin: 0 0 10px 10px;
}

.InterviewOrganization > .CategoryList > button {
  margin: 10px 10px 0 0;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.InterviewOrganization > .CategoryList > button:hover {
  color: red;
  background-color: white;
}

.InterviewHistory {
  background-color: rgb(200, 200, 200);

  height: 100%;
}
