.Footer {
  text-align: center;
  align-items: center;

  padding-top: 20px;

  background-color: rgb(226, 226, 226);

  height: 90px;
}

.Footer > p {
  font-size: 12px;
  text-align: center;
  color: black;

  margin: 0px;
}

.Footer > button {
  background-color: transparent;

  padding: 0px;
  margin-top: 10px;

  font-size: 12px;
  text-align: center;
  color: black;
}

.Footer > button:hover {
  background-color: transparent;
  color: rgb(5, 136, 243);
}
